{% extends 'base.html' %}

{% block title %}Thank You!{% endblock %}

{% block content %}

<div class="container text-center">
    <h1 class="fw-bold lh-lg">Thank you for taking our survey!</h1>
    <p class="h4 fw-light my-4">Your response is in good hands</p>
    <img src="https://media1.giphy.com/media/l3q2wJsC23ikJg9xe/giphy.gif?cid=790b761131751b40645655559d67dbc211d1b9107f517218&rid=giphy.gif&ct=g" class="rounded mx-auto d-block my-4" alt="gif of boy saying thank you">

    <button id="user-responses" class="btn btn-primary text-center mt-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        View your responses
    </button>
</div>

      <div class="collapse" id="collapseExample">
        <div class="card card-body mx-5">
            <ol>
            {% for question in survey.questions %}
                <li>
                    <b>{{ question.question }}</b>
                    <i>{{ session['responses'][loop.index0] }}</i>
                </li>
            {% endfor %}
            </ol>
        </div>
      </div>
      
{% endblock %}